<!DOCTYPE html>
<html lang="fr-fr">
  <head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		
		<title>Calculatrice</title>
		<meta name="description" content="Calculatrice en JavaScript" />
	</head>

	<body>
			
			<br>
			<script src="calculatrice.js"></script>
			<script>
				let c = new BaseCalculator("digits");
			</script>
			
			<noscript>Sans javascript la page ne fonctionne pas !</noscript>
            <div class="container">
                <h1 class="title">Calculatrice : étape 1</h1>
                <form class="calculatrice">
					
					<table>
						<tbody>
							<tr>
								<td colspan="4">
								<input name="digits" size="20" type="text" readonly placeholder="Entrez un calcul..." class="ecran"/>
								</td>
							</tr>
							<tr>
								<td>
								<input value="7" onclick="c.addNumber('7')" type="button" class="mainbutton" />
								</td>
								<td>
								<input value="8" onclick="c.addNumber('8')" type="button" class="mainbutton" />
								</td>
								<td>
								<input value="9" onclick="c.addNumber('9')" type="button" class="mainbutton" />
								</td>
								<td>
                                <input value="+" onclick="c.addNumber('+')" type="button" class="operator"/>

								</td>
							</tr>
							<tr>
								<td>
								<input value="4" onclick="c.addNumber('4')" type="button" class="mainbutton" />
								</td>
								<td>
								<input value="5" onclick="c.addNumber('5')" type="button" class="mainbutton" />
								</td>
								<td>
								<input value="6" onclick="c.addNumber('6')" type="button" class="mainbutton" />
								</td>
								<td>
                                <input value="-" onclick="c.addNumber('-')" type="button" class="operator" />

								</td>
							</tr>
							<tr>
								<td>
								<input value="1" onclick="c.addNumber('1')" type="button" class="mainbutton" />
								</td>
								<td>
								<input value="2" onclick="c.addNumber('2')" type="button" class="mainbutton" />
								</td>
								<td>
								<input value="3" onclick="c.addNumber('3')" type="button" class="mainbutton" />
								</td>
								<td>
                                <input value="*" onclick="c.addNumber('*')" type="button" class="operator" />

								</td>
							</tr>
							<tr>
								<td>
								<input value="0" onclick="c.addNumber('0')" type="button" class="mainbutton" />
								</td>
                                <td>
                                <input value="." onclick="c.addNumber('.')" type="button" class="mainbutton" />
                                </td>
                                
                                <td>
                                    <input value="C" onclick="c.clearDigits()" type="button" class="mainbutton" />
                                </td>
                                <td>
                                    <input value="/" onclick="c.addNumber('/')" type="button" class="operator" />
                                </td>
								
							</tr>
							<tr>
                                <td>
                                    <input value="&#40;" onclick="c.addNumber('&#40')" type="button" class="operator" />
                                </td>
                                <td>
                                    <input value="&#41;" onclick="c.addNumber('&#41')" type="button" class="operator" />
                                </td>
								<td colspan="1">
								    <input value="=" onclick='c.calc()' type="button" class="operator" />
								</td>
								<td colspan="1">
								    <input value="del" onclick='c.back()' type="button" class="operator" />
								</td>
                                
                                
                                
                                    
							</tr>
						</tbody>
					</table>
					<br>
			</form>
            </div>
			
	</body>
</html>